.tabla {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
}

.busqueda{
    right: 0px;
    transition: all 0.3s;
}

.elemento {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
}

.elemento2 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
}

.boton {
    background: #b11a1a;
    color: #fff;

}

.boton:hover {
    color: #fff;
    background-color: #c92828;
    border-color: #c92828;
}

.boton.focus, .boton:focus{
    color: #fff;
    text-decoration: none;
}


.titulos {
    display: inline-block;
    width: 70%;
    background: #ffffff;
    display:flex;
    border-radius: 5px;
}

