.mensaje {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
    background: #ffffff;
}

.encabezado{
    
    display: inline-block;
    width: 90%;
    display:flex;
    
}

.contenido{
    text-align: left;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    transition: all 0.3s;
    background: #ffffff;
    padding: 20px;
}

.titulo{
    
    width: 50%;
    text-align: left;
}

.responder{
    text-align: right;
    width: 50%;
    padding-top: 10px;
}

hr {
    height: 10px;
    background-color: black;
}